.bugForm {
}

.inputFields {
  align-items: center;
}

.titleField {
  width: 50em;
}

.descriptionField {
  width: 50em;
  height: 10em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  color: #000;
  border-radius: 4px;
}

.priorityAndDueDate {
  width: 50em;
}

.dueDate {
  width: 22em;
  margin-left: auto;
}

.priority {
  width: 22em;
}

input {
  padding: 1rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(255, 0, 0, 0.1);
}

textarea.error {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(255, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.submitBtn {
  position: relative;
  width: 14.5em;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.25px;
  align-items: center;
  background-color: #fff;
  background-image: none;
  border-radius: 24px;
  color: #3c4043;
  display: inline-flex;
  font-weight: 600;
  height: 48px;
  /* min-width: 56px; */
  /* padding: 0 24px 0 0; */
  text-align: center;
  text-transform: none;
  padding: 15px 90px;
  outline: none;
  top: 13px;
  margin-left: auto;
}

.submitBtn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #fafafb;
  cursor: pointer;
}

.asignee {
  width: 22em;
}

.asigneeAndSubmitBtn {
  width: 50em;
}
