.bugForm {
}

.inputFields {
  align-items: center;
}

.titleField {
  width: 38em;
  height: 55px;
}

.descriptionField {
  height: 7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 21px;
  width: 38em;
  padding: 1rem;
  outline: none;
  color: #000;
  border-radius: 4px;
}

.css-1hwfws3 {
  font-size: 21px;
}

.priorityAndDueDate {
  width: 50em;
}

.dueDate {
  width: 22em;
  margin-left: auto;
}

.priority {
  width: 22em;
}

input {
  padding: 1rem;
  font-size: 21px;
  width: 100%;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.css-1492t68 {
  font-size: 21px;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(255, 0, 0, 0.1);
}

textarea.error {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(255, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.editBtn {
    position: relative;
    width: 14.5em;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.25px;
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 600;
    height: 48px;
    /* min-width: 56px; */
    /* padding: 0 24px 0 0; */
    text-align: center;
    text-transform: none;
    padding: 15px 90px;
    outline: none;
    top: 30px;
    /* margin-left: auto; */
    right: -18em;
}

.submitBtn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #fafafb;
  cursor: pointer;
}

.asignee {
  width: 22em;
}

.asigneeAndSubmitBtn {
  width: 50em;
}

.datePicker {
  position: relative;
  top: 0px;
  height: 55px;
  width: 357px;
  left: -4px;
}

.css-vj8t7z {
  height: 55px;
}

.css-2o5izw {
  height: 55px;
}

.bugsBtn {
  padding: 12px 18px;
    border-radius: 6px;
    width: 7em;
    /* height: 2em; */
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    font-size: 23px;
}

.bugsBtn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  cursor: pointer;
}

.active {
  background-color: gray;
  border-color: lightgray;
  color: white;
}

.issueActionBtns {
      background-color: gray;
    border-radius: 25px;
    width: 17em;
    height: 3em;
}

.actionBtnss {
  background-color: gray;
    border-radius: 20px;
    width: 15em;
}

.disabled {
  pointer-events: none;
}

.status {
  width: 22em;
  margin-left: auto;
}